body {
  font-size: 0.9rem;
}

main, header {
  margin: 0 auto;
  min-width: 30rem;
  width: 60%;
  max-width: 60rem;
}

h1 {
  color: #93f425;
  font-family: 'Joti One', cursive;
  background-color: #b6c8c8;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 2rem;
  margin-top: 0.25rem;
}

h2 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 0.25rem;
}

a {
  color: #6cc20a;
}

.card-header h4 {
  display: inline-block;
}

.headline {
  color: #ff4d4d;
  text-align: center;
  margin: 1rem 0 0.5rem 0;
}

input[type=date], .user, .todos, .form-control::placeholder {
  color: gray;
}

#user-id {
  color: #6cc20a;
  position: absolute;
  right: 1rem;
  top: 0.25rem;
}

#log-in-form div label, #register-form div label {
  width: 100%;
  margin: 0rem auto;
}

p {
  margin-bottom: 0.2rem;
}

div {
  margin-bottom: 0.1rem;
}

label {
    margin: 0.2rem 0 0.2rem 0;
    color: #6cc20a;
}

.btn-sm {
  font-size: 0.7rem;
  padding: 0.1rem 0.25rem;
}
#submit-button {
  font-size: 0.9rem;
  padding: 0.2rem 0.3rem;
}

footer {
  background-color: #d3dede;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.login-problem, .registration-problem {
  color: #ff4d4d;
}

.spacer {
  display: inline-block;
  width: 2rem;
  text-align: center;
}
.small-text {
  font-size: 0.85rem;
}

.todos button {
  color: #606060;
}

.todos button:hover {
  color: black;
}

.task-item {
  color: black;
  font-size: 1rem;
  padding-bottom: 0;
  margin-bottom: 0.1rem;
}

.card {
  min-width: 25rem;
  width: 50%;
  max-width: 30rem;
  margin: 0.5rem auto;
}

#add-todo {
  width: 50%;
}

#points {
  color: #6cc20a;
  display: inline-block;
  border-bottom: 2px solid #6cc20a;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1.2rem;
}

.dateDue {
  /* identifier */
}

.hide {
  display: none;
}

.finish-button{
  display: inline;
}

.outline {
  padding: 0.25rem;
  border: 2px gray solid;
}

.update-todo, .due-soon {
  background-color: #ff6;
}

.past-due {
  background-color: #ff8080;
}
