label {
  color: blue
}

button {
  background-color: transparent;
}

input[type=date] {
  color: gray;
}

.todos {
  color: gray;
}

.spacer {
  display: inline-block;
  width: 2rem;
  text-align: center;
}
.small-text {
  font-size: 0.85rem;
}

.todos button {
  color: gray;
}

.todos button:hover {
  color: black;
}

.task-item {
  color: black;
  font-size: 1rem;
  padding-bottom: 0;
  margin-bottom: 0.1rem;
}

.user {
  color: gray;
  text-align: center;
  margin: 1rem 0 0.5rem 0;
}

#add-todo {
  width: 50%;
}

#points {
  color: blue;
  display: inline-block;
  border-bottom: 2px solid blue;
  margin: 0.5rem 0 0.5rem 0;
}

.dateDue {
  /* identifier */
}

.hide {
  display: none;
}

.finish-button{
  display: inline;
}

.outline {
  padding: 0.25rem;
  border: 2px gray solid;
}

.update-todo {
  background-color: yellow;
}

.due-soon {
  border: 0.20rem solid yellow;
}

.past-due {
  border: 0.20rem solid red;
}
