html {
  position: relative;
  min-height: 100%;
}

body {
    font-size: 0.9rem;
    margin: 0 0 3rem;
    padding-bottom: 1rem;
}

main, header {
  margin: 0 auto;
  min-width: 30rem;
  width: 60%;
  max-width: 60rem;
}

h1 {
  color: #93f425;
  font-family: 'Joti One', cursive;
  background-color: #b6c8c8;
  padding: 0.5rem 1rem;
  margin-top: 0.25rem;
  display: inline-block;
  border-radius: 2rem;

}

h2 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 0.25rem;
}

a {
  color: #6cc20a;
}

input {
  border: 0.05rem solid gray;
  border-radius: 0.15rem;

}

.card-header h4 {
  display: inline-block;
}

.headline {
  color: #ff4d4d;
  text-align: center;
  margin: 1rem 0 0.5rem 0;
}

input[type=date], .user, .todos, .form-control::placeholder {
  color: gray;
}

#user-id {
  color: #6cc20a;
  position: absolute;
  right: 1rem;
  top: 0.25rem;
}

#log-in-form div label, #register-form div label {
  width: 100%;
  margin: 0rem auto;
}

p, div, .task-item {
  margin-bottom: 0.15rem;
}

label {
    margin: 0.2rem 0 0.2rem 0;
    color: #6cc20a;
}

.btn-sm {
  font-size: 0.7rem;
  padding: 0.1rem 0.25rem;
}
#submit-button {
  padding: 0.2rem 0.3rem;
}

footer {
  background-color: #d3dede;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
}

.login-problem, .registration-problem {
  color: #ff4d4d;
}

.spacer {
  display: inline-block;
  width: 2rem;
  text-align: center;
}
.small-text, #submit-button {
  font-size: 0.85rem;
}

.todos button, .btn-outline-secondary {
  color: gray;
}

.task-item {
  color: black;
  font-size: 1rem;
  padding-bottom: 0;
}

.card {
  min-width: 25rem;
  width: 50%;
  max-width: 30rem;
  margin: 0.5rem auto;
}

#points {
  color: #6cc20a;
  display: inline-block;
  border-bottom: 0.15rem solid #6cc20a;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1.2rem;
}

.dateDue {
  /* identifier */
}

.hide {
  display: none;
}

.finish-button{
  display: inline;
}

.outline {
  padding: 0.25rem;
  border: 0.15rem gray solid;
}

.update-todo, .due-soon {
  background-color: #ff6;
}

.past-due {
  background-color: #ff8080;
}

/* ***RESIZING*** */
/* FOR TABLET */
@media screen and (max-width: 1024px) {
  main, header {
    min-width: 30rem;
    width: 90%;
  }

  .btn-sm, #submit-button, .task-item {
    font-size: .9rem;
  }

  p {
    padding-bottom: 0.1rem;
    margin-bottom: 0.1rem;
  }

  #add-todo {
    min-width: 20rem;
  }

  label {
    font-size: 1.1rem;
  }

}

@media screen and (max-width: 767px) {
  main, header {
    min-width: 20rem;
    width: 95%;
  }

  h1 {
    text-align: center;
    font-size: 1.6rem;
    min-width: 40%;
    max-width: 70%;
    position: relative;
    left: -5px;
  }

  .card {
    min-width: 18rem;
    width: 90%;
  }

  #add-todo {
    width: 95%;
  }

  #submit-button {
    margin-top: 0.15rem;
  }

}
